@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes colorChange {
  0% {
    color: #8a2be2; /* Bright Purple */
  }
  10% {
    color: #7b68ee; /* Medium Slate Blue */
  }
  20% {
    color: #6a5acd; /* Slate Blue */
  }
  30% {
    color: #836fff; /* Light Slate Blue */
  }
  40% {
    color: #a080e5; /* Light Purple */
  }
  50% {
    color: #a080e5; /* Light Purple */
  }
  60% {
    color: #7b68ee; /* Medium Slate Blue */
  }
  70% {
    color: #a080e5; /* Light Purple */
  }
  80% {
    color: #7b68ee; /* Medium Slate Blue */
  }
  90% {
    color: #a080e5; /* Light Purple */
  }
  100% {
    color: #a080e5; /* Light Purple */
  }
}

.animate-colorChange {
  animation: colorChange 10s infinite;
}
